<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Responsive Carousel - jCarousel Examples</title>

        <!-- Shared assets -->
        <link rel="stylesheet" type="text/css" href="/style.css">

        <!-- Example assets -->
        <link rel="stylesheet" type="text/css" href="/jcarousel.responsive.css">

        <script type="text/javascript" src="/jquery.js"></script>
        <script type="text/javascript" src="/jquery.jcarousel.min.js"></script>

        <script type="text/javascript" src="/jcarousel.responsive.js"></script>

    </head>
    <body>

        <h1>Movies 1</h1>

        <div class="wrapper">
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li><img src="https://imgc.allpostersimages.com/img/posters/spider-man-into-the-spider-verse-falling_u-L-F9HNHI0.jpg?h=900&p=0&w=900" alt="Image 1"></li>
                        <li><img src="https://imgc.allpostersimages.com/img/posters/marvel-cinematic-universe-avengers-infinity-war-one-sheet_u-L-F9KM8Q0.jpg?h=900&p=0&w=900" alt="Image 2"></li>
                        <li><img src="https://imgc.allpostersimages.com/img/posters/marvel-loki-teaser_u-L-F9LZTO0.jpg?h=900&p=0&w=900" alt="Image 3"></li>
                        <li><img src="https://oyster.ignimgs.com/wordpress/stg.ign.com/2021/04/Shang-Chi-Poster-Marvel.jpg" alt="Image 4"></li>
                        <li><img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/online_10.jpg" alt="Image 5"></li>
                        <li><img src="https://wallpaperaccess.com/full/5849980.jpg" alt="Image 6"></li>
                    </ul>
                </div>

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                <p class="jcarousel-pagination"></p>
            </div>
        </div>

        <h1>Movies 2</h1>

        <div class="wrapper">
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li><img src="https://imgc.allpostersimages.com/img/posters/spider-man-into-the-spider-verse-falling_u-L-F9HNHI0.jpg?h=900&p=0&w=900" alt="Image 1"></li>
                        <li><img src="https://imgc.allpostersimages.com/img/posters/marvel-cinematic-universe-avengers-infinity-war-one-sheet_u-L-F9KM8Q0.jpg?h=900&p=0&w=900" alt="Image 2"></li>
                        <li><img src="https://imgc.allpostersimages.com/img/posters/marvel-loki-teaser_u-L-F9LZTO0.jpg?h=900&p=0&w=900" alt="Image 3"></li>
                        <li><img src="https://oyster.ignimgs.com/wordpress/stg.ign.com/2021/04/Shang-Chi-Poster-Marvel.jpg" alt="Image 4"></li>
                        <li><img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/online_10.jpg" alt="Image 5"></li>
                        <li><img src="https://wallpaperaccess.com/full/5849980.jpg" alt="Image 6"></li>
                    </ul>
                </div>

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                <p class="jcarousel-pagination"></p>
            </div>
        </div>

    </body>
</html>
